DB_PASSWORD=your-super-secret-password
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters
JWT_EXP=3600
ANON_KEY=your-anon-key
SERVICE_ROLE_KEY=your-service-role-key
API_EXTERNAL_URL=https://your-domain.com/supabase
SITE_URL=https://your-domain.com
SECRET_KEY_BASE=
DB_ENC_KEY=
